<div id="about">
    <div id="about-data">
        <img src="/assets/avatar-brown.webp" id="avatar">
        <div id="about-icons">
            <a href="https://github.com/Placeblock" class="invert-darkmode" target="_blank"><img src="/assets/github-mark.svg"></a>
            <a href="https://www.linkedin.com/in/felix-weglehner/" target="_blank"><img src="/assets/LI-In-Bug.webp"></a>
            <a href="https://discord.com/users/Placeblock#4057" target="_blank"><img src="/assets/discord.svg"></a>
            <a href="https://www.spigotmc.org/members/placeblockhd.1079847/" target="_blank"><img src="/assets/spigot.webp"></a>
        </div>
    </div>
    <div id="about-content">
        <h1>Code<span id="header-span">Fe</span>lix</h1>
        <p>Hello World. 👋 I'm Felix!</p>
        <p>
            When I was ten years old I started developing. 
            Well, it was more like: "Dad can you do that?" 😄.
            However I quickly started programming myself!
            Now, seven years later I'm proud of my old me for 
            starting my journey through many programming languages and challanges.
        </p>
    </div>
</div>
<router-outlet></router-outlet>