@import "/src/app/theme";


.story-element {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(250px, 100%/3)), 1fr));
    gap: 20px;
}

h1 {
    color: $primary;
}

:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
