<h1>The Beginning</h1>
<div class="story-element">
    <img style="width: 100%;" src="/assets/firstwebsite.webp">
    <p>
        This is "my" first website! No good design let alone responsive, but a good start!
        The plan was to uplad my games there which I never created 😀.
    </p>
</div>
<div class="story-element">
    <p>
        At the beginning all my websites were static. I quickly asked me how to change content based on user input...
        WOHA! JAVASCRIPT! A whole new world, which was just waiting to be explored.
    </p>
</div>
<div class="story-element">
    <p>
        While learning javascript I was also wondering how to save userdata. Believe me or not, the next programming language was PHP.
        At this time my thoughts were like: "Combining javascript with php is going to give me superpowers 🚀".
    </p>
</div>
<div class="story-element">
    <p>
        Ever since I played Minecraft for the first time I fell in love with the game, so it isn't surprising that 
        I started to develop Minecraft plugins. At first they were trash but I improved and so did the plugins.
    </p>
    <img style="width: 100%;" src="/assets/minecraftplugin.webp">
</div>
<h1>Blender</h1>
<div class="story-element">
    <p>
        Some day I thought about developing my own 3D game for wich I took a look at blender. It was amazing!
        The features were overwhelming, VFX, Particle Systems, Shaders, Textures, Sculping, Rigs. I could go on forever.
    </p>
    <img style="width: 100%;" src="/assets/minecraftthumbnail.webp">
    <img style="width: 100%;" src="/assets/eatroom.webp">
    <img style="width: 100%;" src="/assets/realisticforest_3.webp">
    <img style="width: 100%;" src="/assets/kunst4.webp">
    <div>
        <p>It is so cool that blender is open source and free for all so go and check it out!</p>
        <a href="https://www.blender.org/" target="_blank" class="button">Blender</a>
    </div>
</div>
<h1>Back to business</h1>
<div class="story-element">
    <div>
        <p>
            I wanted to combine both programming languages javascript and php in one projects and a few months later
            the first version of <a href="https://vocalearn.codelix.de" target="_blank">Vocalearn</a> was in production.
        </p>
        <p> Because of this project I deep dived into MySQL for the first time.</p>
        <p>
            Using MySQL one is able to create lessons, share them with others, add vocabulary, structure them in folders
            and of course learn them.
        </p>
        <p>
            Vocalearn teaches you your vocabulary efficently because of its great algorithm!
        </p>
    </div>
    <img style="width: 100%;" src="/assets/vocalearn.webp">
</div>
<div class="story-element">
    <p>
        Creating large javascript projects without a libary or framework can be hard. This is why I started to teach myself react.
        Components are amazing! Beginning with a large project was a mistake as I didn't now much about react.
    </p>
</div>
<div class="story-element">
    <div>
        <p>
            Next was Angular for wich I read the documentation for two weeks before I started coding. If I now look back
            it was a really good idea. I ❤️ Angular. Typescript, Components, Observables, Subscriptions, Services, Directives, Pipes, The Redux pattern,
            State Management, Higher Order Mapping, Guards, Modules, Lazy Loading etc. makes it really powerful.
        </p>
        <div>
            <p>You can take a look at my website UNU! which is fully developed with Angular.</p>
            <a href="https://unu.codelix.de/" target="_blank" class="button">UNU!</a>
        </div>
    </div>
    <img src="/assets/unu.webp" style="width: 100%;">
</div>
<div class="story-element">
    <img src="/assets/unucards.webp" style="width: 100%;">
    <div>
        <p>However developing online UNU was nearly impossible without websockets.</p>
        <p>This is why I simply used Node.js which was cool as you don't have to learn another programming language</p>
        <p>I used Node.js in combination with Typescript for developing the server for UNU and it works great!</p>
    </div>
</div>
<h1>Java</h1>
<div class="story-element">
    <div>
        <p>At the beginning I already told you that I developed Minecraft plugins. However that wasn't the whole story</p>
        <p>
            When I had a question concerning SpigotMC I turned to the community in their forum. Answering my post user "Player_Schark" asked me if I wanted to help him developing a Minecraft-Server-Network!
            Up to this point I had been looking for people to program with for the last three years, now I found them!
        </p>
    </div>
    <img src="/assets/scharkmap.webp" style="width: 100%;">
</div>
<div class="story-element">
    <img src="/assets/penguin.webp" style="width: 100%;">
    <div>
        <p>
            It is so cool to work with others in a team! Together we set up a maven repository to provide our own apis.
            We resolve issues and implement features, stay up all night to develop, laugh and cry together. Not the finished
            product is what makes it special, but the journey to get there.
        </p>
    </div>
</div>
<div class="story-element">
    <div>
        <p>
            Another advantage of working in a team is that you can learn a lot from your team members.
            Because of "Player_Schark" I have gotten a good understanding of how Java works. Without him I wouldn't be as fluent in Java as I am today and i couldn't say Java is the programming language I know best! (Thank you Player_Schark!)
        </p>
    </div>
    <img src="/assets/mushroom.webp" style="width: 100%;">
</div>
<h1>GoLang</h1>
<div class="story-element">
    <div>
        <p>
            As good as NodeJS looks, it also has its flaws. The huge dependency tree and the fact that you have to compile the typescript files first
            to run it aren't that beneficial. I stumbled across GoLang and it's <a href="https://go.dev/tour/" target="_blank" class="button">great tour</a>.
            The syntax was quite different from what I've already known from other programming languages before which was quite interesting.
        </p>
    </div>
    <img src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_Blue.svg" style="width: 100%">
    <img src="/assets/projectsolis.webp" style="width: 100%;">
    <div>
        <p>
            I really enjoy developing in GoLang, although it wasn't easy to do so "the go way" as it's quite different to known programming languages.
            The backend of many projects, for example <a href="https://stratosphaere.codelix.de/" target="_blank" class="button">Project Solis</a> and the <a href="https://wirtschaft.codelix.de/" target="_blank" class="button">Selling System</a> were made with GoLang.
        </p>
    </div>
</div>
<h1>What comes next?</h1>