<app-playlist 
    [name]="'Funky Groove Friday'" 
    [description]="'The perfect mix of groove and 90s for your perfect friday'"
    [img]="'https://i.scdn.co/image/ab67706c0000da8422a78040c00ae67ead6fa3a8'"
    [url]="'https://open.spotify.com/playlist/6pwvQQqlijgfdI7pd4LQOj?si=f07e563d2734488c'">
</app-playlist>
<app-playlist 
    [name]="'Summernight Happieness'" 
    [description]="'Imagine a warm summernight with your friends with this music!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da84d6e0002386e0b1660a3b1f65'"
    [url]="'https://open.spotify.com/playlist/1YZ0fdNQNEYdj6uZcS7B0m?si=67c2434cbf5748a9'">
</app-playlist>
<app-playlist 
    [name]="'Background Beats'" 
    [description]="'Just need some music to play in the background? I got you covered!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da846cc2cf8633a5908b848e0c0f'"
    [url]="'https://open.spotify.com/playlist/6k2VfQgHvY5pxrwCzG2562?si=8016f1d6a6284b82'">
</app-playlist>
<app-playlist 
    [name]="'Party'" 
    [description]="'You are with your friends enjoying friday evening? Here, this is just right for you!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da84b5e08d8c73729084b06a6c36'"
    [url]="'https://open.spotify.com/playlist/0aprRGbdvIdu6qnzSxBPZ9?si=eae84d6ffa0d4251'">
</app-playlist>
<app-playlist 
    [name]="'Movie Soundtracks'" 
    [description]="'The most epic and beautiful movie soundtracks for pure joy!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da84cbd455c02ff905ae1ab67c42'"
    [url]="'https://open.spotify.com/playlist/21Z9NwevBEqQ52p91JXObn?si=31c6e603ed2a450d'">
</app-playlist>
<app-playlist 
    [name]="'Discord Good Music'" 
    [description]="'Random good music to hear while talking with other people!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da844336341256f9d48d6a8b4fe6'"
    [url]="'https://open.spotify.com/playlist/4Cx7gzdgp4oTRwvQyHslas?si=ef9b9ede49f544c2'">
</app-playlist>
<app-playlist 
    [name]="'Worship'" 
    [description]="'If you wan\'t to spend some time with worship this is the best choice!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da84a051b40670bef056a4cf5738'"
    [url]="'https://open.spotify.com/playlist/3EguGYDsnr7epoB3BjbcDq?si=1be23b4cbad24c4a'">
</app-playlist>
<app-playlist 
    [name]="'Calm Down'" 
    [description]="'After a long day you just wan\'t to lay ind bed and sleep. With this playlist it works best!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da846950fe2446b7508e12bdd1ec'"
    [url]="'https://open.spotify.com/playlist/4jiZJ0suLPkXBy8cBLFQBu?si=ec53130bc6134835'">
</app-playlist>
<app-playlist 
    [name]="'I tried and I\'m tired'" 
    [description]="'Sometimes it\'s just not your day. If you don\'t want to listen to happy music this is the perfect mix for you!'"
    [img]="'https://i.scdn.co/image/ab67706c0000da84b2bf8417349904961843094e'"
    [url]="'https://open.spotify.com/playlist/732iYfcBRN8cLKRLYlJwiT?si=9469b49542bf447b'">
</app-playlist>
<app-playlist 
    [name]="'Alone'" 
    [description]="'I hope you never want to listen to this playlist :)'"
    [img]="'https://i.scdn.co/image/ab67706c0000da846481f9cb1dc5836e996def9c'"
    [url]="'https://open.spotify.com/playlist/4tTWBdNhgd9OKbzByj3s31?si=fc753be079354559'">
</app-playlist>